@import "../../model/model.css";
page{
  background-color: #eee;
  padding-bottom: 130rpx;
}
.input-box{
  background-color: #fff;
  border-top: 1rpx solid #eee;
  width: 710rpx;
  height: 90rpx;
  padding: 0 20rpx;
  display: flex;
  align-items: center
}
.input-box>view{
  color: #acacac;
  font-size: 29rpx;
  height: 90rpx;
  width: 130rpx;
  line-height: 90rpx;
}
.input-box>input{
  height: 90rpx;
  width: 540rpx;
  font-size: 30rpx
}
.input-box>image{
  height: 45rpx;
  width: 45rpx;
}
.input-box2{
  background-color: #fff;
  border-top: 1rpx solid #eee;
  width: 710rpx;
  height: 175rpx;
  padding: 0 20rpx;
  display: flex;
  align-items: center
}
.input-box2>view{
  color: #acacac;
  font-size: 29rpx;
  height: 90rpx;
  width: 130rpx;
  line-height: 90rpx;
}
.input-box2>textarea{
  height: 160rpx;
  width: 540rpx;
  font-size: 30rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.default{
  background-color: #fff;
  border-top: 1rpx solid #eee;
  width: 710rpx;
  height: 155rpx;
  padding: 0 20rpx;
  display: flex;
  align-items: center
}
.default>image{
  height: 40rpx;
  width: 40rpx;
}
.default>view{
  color: #acacac;
  font-size: 29rpx;
  height: 90rpx;
  margin-left: 20rpx;
  line-height: 90rpx;
}
.bottom{
  background-color: #ff7e7e;
  position: fixed;
  bottom: 0;
  width: 750rpx;
  height: 110rpx;
  color: #fff;
  line-height: 110rpx;
  text-align: center;
  font-size: 36rpx;
}