page{
  background-color: #eeeeee;
  padding-bottom: 20rpx
}
.person{
  width: 750rpx;
  height: 400rpx;
}
.person>view:nth-child(1){
  width: 750rpx;
  height: 290rpx;
  position: relative
}
.person>view:nth-child(1)>image{
  width: 100%;
  height: 100%
}
.head-img{
  position: absolute;
  top: 25rpx;
  left: 50%;
  transform: translateX(-50%);
  width: 150rpx;
  height: 150rpx;
  border-radius: 50%;
  border: 8rpx solid rgba(255, 255, 255, 0.4);
  z-index: 100;
  overflow: hidden
}
.head-img image{
  width: 100%;
  height: 100%
}
.class-round{
  width: 45rpx;
  height: 45rpx;
  border-radius: 50%;
  position: absolute;
  top: 55rpx;
  left: 160rpx;
  background-color: #944cf6;
  z-index: 500
}
.class-round image{
  width: 100%;
  height: 100%;
}
.class{
  width: 140rpx;
  height: 35rpx;
  font-size: 23rpx;
  position: absolute;
  top: 60rpx;
  left: 180rpx;
  color: #fff;
  background-color:#944CF6;
  opacity: 0.8;
  text-align: center;
  line-height: 35rpx;
}
.num{
  width: 140rpx;
  height: 35rpx;
  font-size: 23rpx;
  position: absolute;
  top: 130rpx;
  right: 188rpx;
  color: #fff;
  background-color:#FD0000;
  opacity: 0.8;
  text-align: center;
  line-height: 35rpx;
}
.num-round{
  width: 45rpx;
  height: 45rpx;
  border-radius: 50%;
  position: absolute;
  top: 124rpx;
  right: 168rpx;
  background-color: #FD0000;
  z-index: 500;
  color: #fff;
  font-size: 26rpx;
  line-height: 45rpx;
  text-align: center
}
.uesr-name{
  position: absolute;
  bottom: 35rpx;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28rpx;
  color: #fff
}
.person>view:nth-child(2){
  display: flex;
  align-items: center;
  height: 110rpx;
  background-color: #fff
}
.person>view:nth-child(2)>view:nth-child(1){
  height: 80rpx;
  width: 375rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1rpx solid #eee;
}
.person>view:nth-child(2)>view:nth-child(2){
  height: 80rpx;
  width: 375rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.person>view:nth-child(2)>view:nth-child(1)>view:nth-child(1){
  color: #ff4444;
  font-size: 34rpx;
}
.person>view:nth-child(2)>view:nth-child(1)>view:nth-child(2){
  color: #646464;
  font-size: 26rpx;
}
.person>view:nth-child(2)>view:nth-child(2)>view:nth-child(1){
  color: #646464;
  font-size: 34rpx;
}
.person>view:nth-child(2)>view:nth-child(2)>view:nth-child(2){
  color: #646464;
  font-size: 26rpx;
}
.order{
  width: 710rpx;
  height: 260rpx;
  margin-left: 20rpx;
  margin-top: 20rpx;
  background-color: #fff;
  border-radius: 20rpx;
}
.order>view:nth-child(1){
  height: 100rpx;
  border-bottom: 1rpx solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15rpx;
}
.order>view:nth-child(1)>view:nth-child(1){
  font-size: 29rpx;
}
.order>view:nth-child(1)>view:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: center
}
.order>view:nth-child(1)>view:nth-child(2) view{
  font-size: 25rpx;
  color: #999999;
}
.order>view:nth-child(1)>view:nth-child(2) image{
  width: 35rpx;
  height: 35rpx
}
.order>view:nth-child(2){
  height: 160rpx;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.order>view:nth-child(2)>view{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 160rpx;
  width: 187rpx;
  position: relative
}
.order>view:nth-child(2)>view image{
  height: 65rpx;
  width: 65rpx;
  margin-top: 25rpx
}
.order>view:nth-child(2)>view text{
  font-size: 25rpx;
  color: #666666;
  margin-top: 15rpx
}
.numOrder{
  position: absolute;
  width: 38rpx;
  height: 38rpx;
  border-radius: 50%;
  background-color: #ff4343;
  color: #fff;
  line-height: 38rpx;
  text-align: center;
  font-size: 23rpx;
  top: 18rpx;
  right: 50rpx;
}
.more{
  background-color: #fff;
  margin-top: 20rpx;
  padding-left: 20rpx;
}
.more>view{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100rpx;
  border-bottom: 1rpx solid #eee;
}
.more>view view{
  display: flex;
  align-items: center
}
.more>view view>image{
  height: 45rpx;
  width: 45rpx;
}
.more>view view>text{
  font-size: 29rpx;
  margin-left: 30rpx
}
.more>view image{
  height: 40rpx;
  width: 40rpx;
  margin-right: 15rpx;
}
.more>button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100rpx;
  border-bottom: 1rpx solid #eee;
  border-radius: 0;
  padding:0;
  background-color: #fff;
  position: none
}
.more>button::after{
   border: none;
}
.more>button view{
  display: flex;
  align-items: center
}
.more>button view>image{
  height: 45rpx;
  width: 45rpx;
}
.more>button view>text{
  font-size: 29rpx;
  margin-left: 30rpx
}
.more>button image{
  height: 40rpx;
  width: 40rpx;
  margin-right: 15rpx;
}