page{
  background-color: #eee;
  padding-bottom: 20rpx;
}
.none{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.none image{
  height: 350rpx;
  width: 270rpx;
  margin-top: 200rpx;
}
.none .daishouhuo{
  height: 180rpx;
  width: 250rpx;
  margin-top: 275rpx;
}
.none view{
  font-size: 28rpx;
  color: #ccc;
  margin-top: 20rpx;
}
.order-list{
  background-color: #fff;
  margin-top: 20rpx;
}
.describe{
  width: 750rpx;
  height: 90rpx;
  border-bottom: 1rpx solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.describe>view:nth-child(1){
  display: flex;
  align-items: center
}
.describe>view:nth-child(1) view{
  width: 8rpx;
  height: 44rpx;
  background-color: #ff4343;
  border-radius: 8rpx;
  margin-left: 20rpx
}
.describe>view:nth-child(1) text{
  color: #666666;
  font-size: 28rpx;
  margin-left: 15rpx;
}
.describe> .status{
  font-size: 28rpx;
  margin-right: 40rpx;
}
.commodity-list{
  border-bottom: 1rpx solid #eee;
  width: 750rpx;
  height: 270rpx;
  display: flex;
  align-items: center;  
}
.commodity-list>image{
  width: 200rpx;
  height: 200rpx;
  border-radius: 10rpx;
  margin-left: 30rpx;
}
.commodity-list>view{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20rpx;
  height: 200rpx;
}
.commodity-list>view>view:nth-child(1){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  width:395rpx;
  font-size: 29rpx;
  color: #333333;
  font-weight: bold
}
.commodity-list>view>view:nth-child(2){
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  overflow:hidden;
  width:395rpx;
  color:#666;
  font-size:25rpx;
}
.commodity-list>view>view:nth-child(3){
  color: #ff4343;
  font-size: 35rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 470rpx;
}
.commodity-list>view>view:nth-child(2) span{
  font-size: 26rpx
}
.commodity-list>view>view:nth-child(2) text{
  color: #333;
  font-size: 26rpx;
}
.order-total{
  width: 750rpx;
  height: 110rpx;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.order-total>view:nth-child(1){
  font-size: 26rpx;
  margin-left: 30rpx;
  color: #999
}
.order-total>view:nth-child(1)>span:nth-child(1){
  margin: 0 8rpx;
  font-size: 30rpx;
  color: #666
}
.order-total>view:nth-child(1)>span:nth-child(2){
  margin: 0 8rpx;
  font-size: 30rpx;
  color: #ff4343
}
.order-other{
  float: right;
  display: flex;
  align-items: center
}
.order-total .buyAgain{
  width: 180rpx;
  height: 70rpx;
  background-color: #ff4343;
  color: #fff;
  font-size: 30rpx;
  margin-right: 15rpx;
  border-radius: 35rpx;
  line-height: 70rpx;
  text-align: center
}
.order-total .deletOrder{
  width: 180rpx;
  height: 70rpx;
  font-size: 30rpx;
  margin-right: 15rpx;
  border-radius: 35rpx;
  line-height: 70rpx;
  text-align: center;
  border: 1rpx solid #ff4343;
  background-color: #fff;
  color: #ff4343;
}
.order-total .logistics{
  width: 115rpx;
  height: 70rpx;
  background-color: #999;
  color: #fff;
  font-size: 30rpx;
  margin-right: 20rpx;
  border-radius: 35rpx;
  line-height: 70rpx;
  text-align: center
}